* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

